$color-white: #FFF;
$color-black: #000;
$color-primary: #0000FF;
$color-test: #a2ecec;

@import url("https://use.typekit.net/wbi8scg.css");
$font-fam: trade-gothic-next, sans-serif;;
$font-style: normal;
$font-light: 300;
$font-regular: 400;
$font-bold: 700;

$color-primary-hover: darken($color-primary, 5%);
$color-white-hover: darken($color-white, 5%);
